<!DOCTYPE html>
<html>
<head>
    <title>Sección Dorada</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/S_Dorada.css">
</head>
<body>
    <div class="relative min-h-screen md:flex">
        <!-- mobile menu bar -->
        <div class="bg-gray-800 text-gray-100 flex justify-between md:hidden">
            <!-- logo -->
            <a href="{{ url_for('menu') }}" class="block p-4 text-white font-bold">Logo</a>
            
            <!-- mobile menu button -->
            <button class="mobile-menu-button p-4 focus:outline-none focus:bg-gray-700">
                <svg class="h-5 w-5 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 5h16a1 1 0 000-2H4a1 1 0 100 2zm0 6h16a1 1 0 000-2H4a1 1 0 000 2zm0 6h16a1 1 0 000-2H4a1 1 0 100 2z"></path>
                </svg>
            </button>
        </div>

        <!-- sidebar -->
        <div class="sidebar bg-blue-800 text-blue-100 w-64 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">
            <!-- logo -->
            <a href="{{ url_for('menu') }}" class="text-white flex items-center space-x-2 px-4">
                <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm0 2a8 8 0 100 16 8 8 0 000-16zm-1 3a1 1 0 011-1h.01a1 1 0 010 2H12a1 1 0 01-1-1zm1 8a1 1 0 100-2 1 1 0 000 2z"></svg>
                <span class="text-2xl font-extrabold">JDSS</span>
            </a>

            <!-- nav -->
            <nav>
                <a href="{{ url_for('menu') }}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-white">
                    Menu
                </a>
                <a href="index.html" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-white">
                    Gradiente Ascendente
                </a>
                <a href="S_Dorada.html" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-white">
                    Sección Dorada
                </a>
            </nav>
        </div>

        <!-- content -->
        <div class="content w-full md:pl-64">
                <h1>Sección Dorada</h1>
                <form action="/S_Dorada" method="post">
                    <label for="func">Función:</label><br>
                    <input type="text" id="func" name="func"><br>
                    <label for="li">Límite inferior:</label><br>
                    <input type="text" id="li" name="li"><br>
                    <label for="ls">Límite superior:</label><br>
                    <input type="text" id="ls" name="ls"><br>
                    <label for="maxite">Número máximo de iteraciones:</label><br>
                    <input type="text" id="maxite" name="maxite"><br>
                    <label for="exac">Exactitud:</label><br>
                    <input type="text" id="exac" name="exac"><br>
                    <input type="submit" value="Calcular">
                </form>
        </div>
    </div>

    <script>
        const btn = document.querySelector(".mobile-menu-button");
        const sidebar = document.querySelector(".sidebar");

        btn.addEventListener("click", () => {
            sidebar.classList.toggle("-translate-x-full");
        });
    </script>
    
    
</body>
</html>